html{
    --text_color:#1A212F;
    --accent_color:#FAC663;
    --orange_color: #FF7236;
    --white_color:#FFFFFF;
    --accent_gray:#8F8F8F;
    --mobile_margin_xl: 40px;
    --mobile_margin_lg: 30px;
    --mobile_margin_md: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text_color);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main_heading{
    font-weight: 700;
    font-size: 28px;
    line-height: 33;
    margin-bottom: var(--mobile_margin_xl);
}

.secondary_text{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}


header,
section, 
footer{
    padding-inline: 15px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header_logo{
    width: 46px;
    height: 38px;
}

header nav{
    display: none;
}


#hero{
    padding: 0;
    margin-top: 62px;
    width: 100%;
}
#hero>.content{
    overflow-y: hidden;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    position: relative;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 457px;
    height: 100vw;
    background-image: url(/images/hero/hero_mobile_bg.png);
}
#hero>.content>.secondary_bg{
    position: absolute;
    left: 0;
    top: -40vw;
    width: 100%;
}
#hero>.content>.secondary_bg_md{
    display: none;
}
#hero>.content>.hero_info{
    position: relative;
    z-index: 10;
}
#hero>.content>.hero_info>.location{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 12px;
}
#hero>.content>.hero_info>h1{
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 22px;
}
#hero>.content>.hero_info>.description{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 40px;
}
#hero>.content>.hero_info>.book{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 7px 7px 7px 30px;
    border-radius: 25px;
    background-color: white;
    border: none;
    outline: none;
    margin: auto;
}
#hero>.content>.hero_info>.book>img{
    width: 36px;
    height: 36px;
}

@media (min-width:768px) {
    header,
    section, 
    footer{
        padding-inline: 45px;
    }

    header>div{
        height: 76px;
    }
    
    header .header_logo{
        width: 63px;
        height: 52px;
    }

    header img:nth-child(2){
        display: none;
    }

    header nav{
        display: block;
    }

    header nav>ul{
        display: flex;
        list-style-type: none;
        align-items: start;
        gap: var(--mobile_margin_lg);
    }
    header nav>ul>li>.anchor{
        text-decoration: none;
    }

    #hero{
        padding: 0;
        margin-top: 76px;
        background-color:#F8B653;
    }
    #hero>.content{
        width: 100%;
        margin: auto;
        padding-top: 50px;
        background-size: cover;
        height: 868px;
        padding-top: 140px;
        background-image: url(/images/hero/hero_mobile_bg.png);
    }
    #hero>.content>.secondary_bg{
        /* display: none; */
    }
    #hero>.content>.secondary_bg_md{
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
    }
    #hero>.content>.hero_info{
        position: relative;
        z-index: 10;
    }
    #hero>.content>.hero_info>.location{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 12px;
    }
    #hero>.content>.hero_info>h1{
        font-size: 44px;
        line-height: 44px;
        font-weight: 700;
        margin-bottom: 22px;
    }
    #hero>.content>.hero_info>.description{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 40px;
    }
    #hero>.content>.hero_info>.book{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 7px 7px 7px 30px;
        border-radius: 25px;
        background-color: white;
        border: none;
        outline: none;
        margin: auto;
    }
    #hero>.content>.hero_info>.book>img{
        width: 36px;
        height: 36px;
    }
}


@media (min-width:1280px) {
    header,
    section, 
    footer{
        padding: 0px;
    }

    header>div{
        width: 1170px;
        margin: auto;
    }
}